<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jc.mapper.SalaryMapper">
    <resultMap id="SalaryMap" type="com.jc.entity.Salary">
        <id column="id" property="id"/>
        <result property="peopleCode" column="people_code"/>
        <result property="salaryPeople" column="salary_people"/>
        <result property="salary" column="salary"/>
        <result property="start" column="start"/>
        <result property="end" column="end"/>
    </resultMap>


    <select id="listAll" resultMap="SalaryMap">

        select
        <include refid="all"/>
        from t_pay_salary
        <if test="username!=null and username!='' ">
            <where>
                salary_people Like '%${username}%'
            </where>
        </if>
        limit #{currentPage},#{pageSize}
    </select>


    <select id="getCount" resultType="java.lang.Integer">

        <if test="username==null and username='' ">
            select count(1) from t_pay_salary
        </if>
        <if test="username!=null and username!='' ">
            <where>
                salary_people Like '%${username}%'
            </where>
        </if>
    </select>

    <sql id="all">
        id,
        people_code,
        salary_people,
        salary,
        start,
        end
    </sql>


    <insert id="add" parameterType="com.jc.entity.Salary">
        insert into t_pay_salary (people_code,salary_people,salary,start,end)
         values (#{peopleCode},#{salaryPeople},#{salary},#{start},#{end});
    </insert>

    <delete id="delete"   parameterType="java.lang.Integer">
        delete from t_pay_salary where id=#{id}
    </delete>

</mapper>